{% extends 'layout.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Haberler' %}
{% endblock %}

{% block content %}
    <!--begin::banner-->
    <div class="position-relative">
        <img src="{% static 'img/news.jpg' %}" alt="" class="card-rounded mw-100 h-150px w-lg-100 h-lg-250px w-100 opacity-25" style="object-fit: cover;">
        <div class="title position-absolute fs-2x left-20 text-center w-100" style="top: 35%">
            <p class="fs-3hx">{% trans 'Haberler' %}</p>
        </div>
    </div>
    <!--end::banner-->
    <!--begin::container-->
    <div class="container mt-10">
        <div class="my-10">
            <span class="text-gray-600">{{ news.created_at|date }}</span>
        </div>
        {{ news.text|safe }}
    </div>
    <!--end::container-->
{% endblock %}