{% extends 'layout.html' %}

{% block content %}
    <form method="post" action="https://sanalpos.isbank.com.tr/fim/est3Dgate/">
        <input type="hidden" name="clientid" value="700679591149"/>
        <input type="hidden" name="storetype" value="3D_PAY" />
        <input type="hidden" name="hash" value="huohcP/q1a+1E9nW7DgC3S2K5PE=" />
        <input type="hidden" name="islemtipi" value="Auth" />
        <input type="hidden" name="amount" value="10" />
        <input type="hidden" name="currency" value="949" />
        <input type="hidden" name="oid" value="1291899411421" />
        <input type="hidden" name="okUrl" value="https://hegemvakfi.org.tr/payment/success"/>
        <input type="hidden" name="failUrl" value="https://hegemvakfi.org.tr/payment/fail" />
        <input type="hidden" name="lang" value="tr" />
        <input type="hidden" name="rnd" value="asdf" />
        <input type="text" name="pan" value="4242424242424242">
        <input type="text" name="Ecom_Payment_Card_ExpDate_Year" value="28" >
        <input type="text" name="Ecom_Payment_Card_ExpDate_Month" value="10">
        <button type="submit">Gönder</button>
    </form>
{% endblock %}